In [5]:
import pandas as pd
import requests
from contextlib import closing
import csv

In [4]:
save_dir = 'testData/'
url = 'https://www.iso20022.org/sites/default/files/ISO10383_MIC/ISO10383_MIC.csv'

In [6]:
df = pd.read_csv(url, encoding='ISO-8859-1')

In [7]:
df.columns

Index(['COUNTRY', 'ISO COUNTRY CODE (ISO 3166)', 'MIC', 'OPERATING MIC', 'O/S',
       'NAME-INSTITUTION DESCRIPTION', 'ACRONYM', 'CITY', 'WEBSITE',
       'STATUS DATE', 'STATUS', 'CREATION DATE', 'COMMENTS'],
      dtype='object')

In [8]:
df.head

<bound method NDFrame.head of                        COUNTRY ISO COUNTRY CODE (ISO 3166)   MIC  \
0                        SPAIN                          ES  MIBG
1               UNITED KINGDOM                          GB  EXEU
2               UNITED KINGDOM                          GB  EXMP
3               UNITED KINGDOM                          GB  EXOR
4               UNITED KINGDOM                          GB  EXVP
...                        ...                         ...   ...
1991            UNITED KINGDOM                          GB  BNPL
1992                  BULGARIA                          BG  T212
1993  UNITED STATES OF AMERICA                          US  CCMX
1994                    TURKEY                          TR  TMEX
1995                   GERMANY                          DE  OLBB

     OPERATING MIC O/S                       NAME-INSTITUTION DESCRIPTION  \
0             MIBG   O                         MERCADO ORGANIZADO DEL GAS
1             EXEU   O                                  EXANE BNP PARIBAS
2             EXEU   S                      EXANE BNP PARIBAS - MID POINT
3             EXEU   S           EXANE BNP PARIBAS - CHILD ORDER CROSSING
4             EXEU   S        EXANE BNP PARIBAS - VOLUME PROFILE CROSSING
...            ...  ..                                                ...
1991          BNPL   O  BNP PARIBAS SA LONDON BRANCH - SYSTEMATIC INTE...
1992          T212   O      TRADING 212 LIMITED - SYSTEMATIC INTERNALISER
1993          CCMX   O                                             CARTAX
1994          TMEX   O                        TURKISH MERCANTILE EXCHANGE
1995          OLBB   O  OLDENBURGISCHE LANDESBANK AG FX  HANDEL - SYST...

                ACRONYM       CITY                  WEBSITE     STATUS DATE  \
0                MIBGAS     MADRID  WWW.MERCADOSGAS.OMIE.ES       JULY 2015
1                  EXEU     LONDON            WWW.EXANE.COM       JULY 2015
2     EXANE BNP PARIBAS     LONDON            WWW.EXANE.COM       JULY 2015
3                   NaN     LONDON            WWW.EXANE.COM     AUGUST 2015
4                   NaN     LONDON            WWW.EXANE.COM       JULY 2015
...                 ...        ...                      ...             ...
1991      BNPP SA LB SI     LONDON   WWW.CIB.BNPPARIBAS.COM  SEPTEMBER 2020
1992                NaN      SOFIA       WWW.TRADING212.COM  SEPTEMBER 2020
1993                NaN   NEW YORK      HTTPS://CARTA.COM/X  SEPTEMBER 2020
1994                NaN     ANKARA         WWW.TURIB.COM.TR  SEPTEMBER 2020
1995                NaN  OLDENBURG               WWW.OLB.DE  SEPTEMBER 2020

      STATUS   CREATION DATE  \
0     ACTIVE       JULY 2015
1     ACTIVE       JULY 2015
2     ACTIVE       JULY 2015
3     ACTIVE       JULY 2015
4     ACTIVE       JULY 2015
...      ...             ...
1991  ACTIVE  SEPTEMBER 2020
1992  ACTIVE  SEPTEMBER 2020
1993  ACTIVE  SEPTEMBER 2020
1994  ACTIVE  SEPTEMBER 2020
1995  ACTIVE  SEPTEMBER 2020

                                               COMMENTS
0     REGULATED MARKET OPERATOR FOR THE ORGANISED GA...
1     OPERATING MIC COVERING THE CROSSING MECHANISMS...
2     EUROPEAN MID-POINT CROSSING NETWORK OPERATED B...
3     SMART ORDER ROUTING CROSSING MECHANISM OPERATE...
4     CROSSING MECHANISM OPERATED BY EXANE BNP PARIB...
...                                                 ...
1991          SYSTEMATIC INTERNALISER. FOR UK MIFID II.
1992                           SYSTEMATIC INTERNALISER.
1993                                                NaN
1994                                                NaN
1995                           SYSTEMATIC INTERNALISER.

[1996 rows x 13 columns]>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1996 entries, 0 to 1995
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   COUNTRY                       1996 non-null   object
 1   ISO COUNTRY CODE (ISO 3166)   1995 non-null   object
 2   MIC                           1996 non-null   object
 3   OPERATING MIC                 1996 non-null   object
 4   O/S                           1996 non-null   object
 5   NAME-INSTITUTION DESCRIPTION  1996 non-null   object
 6   ACRONYM                       749 non-null    object
 7   CITY                          1994 non-null   object
 8   WEBSITE                       1957 non-null   object
 9   STATUS DATE                   1996 non-null   object
 10  STATUS                        1996 non-null   object
 11  CREATION DATE                 1996 non-null   object
 12  COMMENTS                      1206 non-null   object
dtypes: object(13)
memory usage: 202.8+ KB

In [7]:
df.head()

,COUNTRY,ISO COUNTRY CODE (ISO 3166),MIC,OPERATING MIC,O/S,NAME-INSTITUTION DESCRIPTION,ACRONYM,CITY,WEBSITE,STATUS DATE,STATUS,CREATION DATE,COMMENTS
0,SPAIN,ES,MIBG,MIBG,O,MERCADO ORGANIZADO DEL GAS,MIBGAS,MADRID,WWW.MERCADOSGAS.OMIE.ES,JULY 2015,ACTIVE,JULY 2015,REGULATED MARKET OPERATOR FOR THE ORGANISED GA...
1,UNITED KINGDOM,GB,EXEU,EXEU,O,EXANE BNP PARIBAS,EXEU,LONDON,WWW.EXANE.COM,JULY 2015,ACTIVE,JULY 2015,OPERATING MIC COVERING THE CROSSING MECHANISMS...
2,UNITED KINGDOM,GB,EXMP,EXEU,S,EXANE BNP PARIBAS - MID POINT,EXANE BNP PARIBAS,LONDON,WWW.EXANE.COM,JULY 2015,ACTIVE,JULY 2015,EUROPEAN MID-POINT CROSSING NETWORK OPERATED B...
3,UNITED KINGDOM,GB,EXOR,EXEU,S,EXANE BNP PARIBAS - CHILD ORDER CROSSING,NaN,LONDON,WWW.EXANE.COM,AUGUST 2015,ACTIVE,JULY 2015,SMART ORDER ROUTING CROSSING MECHANISM OPERATE...
4,UNITED KINGDOM,GB,EXVP,EXEU,S,EXANE BNP PARIBAS - VOLUME PROFILE CROSSING,NaN,LONDON,WWW.EXANE.COM,JULY 2015,ACTIVE,JULY 2015,CROSSING MECHANISM OPERATED BY EXANE BNP PARIB...

In [8]:
import csv, json

In [9]:
# Function to convert a CSV to JSON 
# Takes the file paths as arguments 
def make_json(csvFilePath, jsonFilePath): 
      
    # create a dictionary 
    data = {} 
      
    # Open a csv reader called DictReader 
    with open(csvFilePath, encoding='utf-8') as csvf: 
        csvReader = csv.DictReader(csvf) 
          
        # Convert each row into a dictionary  
        # and add it to data 
        for rows in csvReader: 
              
            # Assuming a column named 'No' to 
            # be the primary key 
            key = rows['No'] 
            data[key] = rows 
  
    # Open a json writer, and use the json.dumps()  
    # function to dump data 
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonf.write(json.dumps(data, indent=4))

In [10]:
import requests

In [12]:
resp = requests.get(markets_url)
text = resp.iter_lines()

In [16]:
import requests
from contextlib import closing
import csv


with closing(requests.get(markets_url, stream=True)) as r:
    reader = csv.reader(r.iter_lines(), delimiter=',', quotechar='"')
    for row in reader:

TypeError: '_csv.reader' object is not subscriptable